option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    Timeout: 900
    IgnoreHealthCheck: false
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    HealthCheckSuccessThreshold: Ok
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/v1/health
