option_settings:
  aws:rds:dbinstance:
    DBInstanceClass: db.t3.micro
    DBEngine: mysql
    DBEngineVersion: 8.0.41
    DBAllocatedStorage: 20
    DBUser: checkresumeai
    DBDeletionPolicy: Snapshot
    MultiAZDatabase: false

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-*"]
          roleName: 
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
