container_commands:
  01_set_db_host:
    command: |
      if [ ! -z "$RDS_HOSTNAME" ]; then
        echo "DB_HOST=$RDS_HOSTNAME" >> /opt/elasticbeanstalk/deployment/env
      fi
  02_set_db_password:
    command: |
      if [ ! -z "$RDS_PASSWORD" ]; then
        echo "DB_PASS=$RDS_PASSWORD" >> /opt/elasticbeanstalk/deployment/env
      fi
  03_set_db_user:
    command: |
      if [ ! -z "$RDS_USERNAME" ]; then
        echo "DB_USER=$RDS_USERNAME" >> /opt/elasticbeanstalk/deployment/env
      fi
  04_set_db_port:
    command: |
      if [ ! -z "$RDS_PORT" ]; then
        echo "DB_PORT=$RDS_PORT" >> /opt/elasticbeanstalk/deployment/env
      fi
  05_set_db_name:
    command: |
      if [ ! -z "$RDS_DB_NAME" ]; then
        echo "DB_NAME=$RDS_DB_NAME" >> /opt/elasticbeanstalk/deployment/env
      fi
